* {
  font-family: "Nunito Sans", Arial, sans-serif;
  line-height: 1.8;
  color: #999999;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #f0f4f7;
}

.header {
  background-color: #10151c;
  padding: 0;
  margin: 0;
}
.header__org {
  display: flex;
  font-size: 14px;
  font-weight: 600;
}

.header__org__para {
  color: #ff4139;
}

.para {
  margin: 0 10px;
}
.para__num {
  color: #fff;
  margin: 0;
}

.list {
  margin: 0 10px;
}
.list__ul {
  display: flex;
  gap: 20px;
  margin: 0px 0px 0px 14px;
  font-size: 10px;
  letter-spacing: 1.5px;
}

@media (min-width: 760px) {
  .header {
    background-color: #10151c;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
  }
  .header__org {
    margin: 0 100px;
  }
  .list {
    margin-right: 150px;
  }
}
.symbol {
  background-color: #151c26;
  padding-top: 10px;
  padding-bottom: 10px;
}
.symbol__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.symbol__flex__dir {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.symbol__dir__logo {
  padding-top: 20px;
  width: 40px;
  height: 40px;
  padding: 0;
  display: block;
}
.symbol__logo__para {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.dir {
  display: flex;
  flex-direction: column;
}
.dir__para {
  display: block;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.icon {
  display: flex;
  padding-right: 10px;
  position: relative;
}
.icon__para {
  color: #fff;
  font-size: 15px;
  display: flex;
}
.icon__para__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 20px;
  background-color: #151c26;
  list-style-type: none;
}
.icon__para__list li {
  padding: 0px 0px 10px 0px;
  margin: 2px;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}
.icon:hover .icon__para__list {
  display: block;
}
@media (min-width: 760px) {
  .icon:hover .icon__para__list {
    display: none;
  }
}

.none {
  display: none;
}

.home {
  display: none;
}

.border {
  display: none;
}

@media (min-width: 760px) {
  .symbol {
    background-image: url(../imges/bg_1.jpg.webp);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 80px;
  }
  .symbol__flex {
    display: flex;
  }
  .icon__para {
    display: none;
  }
  .icon {
    padding: 20px;
  }
  .home {
    display: flex;
    padding-right: 170px;
    gap: 50px;
  }
  .home__dir {
    display: flex;
    gap: 50px;
    font-size: 14px;
    font-weight: 600;
  }
  .home__dir__para {
    color: #fff;
  }
  .border {
    display: flex;
    background-color: #ff414d;
    border-radius: 8px;
  }
  .border__add {
    padding: 8px 10px 5px 12px;
    color: #fff;
  }
}
.container {
  background-image: url(../imges/bg_1.jpg.webp);
  height: 100%;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 4rem;
}
.container__title h1 {
  font-weight: 800;
  padding-left: 80px;
  padding-top: 190px;
  color: #fff;
  line-height: 2;
  letter-spacing: 1px;
}
.container__title__para p {
  padding-left: 20px;
}

.label {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}
.label__im {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  padding-right: 4px;
}
.label__im__a {
  border-radius: 10px;
  width: 100%;
  background-color: #ff414d;
  color: #fff;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.a {
  display: flex;
  align-items: center;
}

@media (min-width: 760px) {
  .container__title h1 {
    font-weight: 600;
    font-size: 60px;
    padding-left: 400px;
    padding-top: 60px;
    color: #fff;
    line-height: 2;
    letter-spacing: 1px;
  }
  .container__title__para p {
    padding-left: 440px;
  }
  .label {
    display: flex;
    padding-left: 360px;
    margin-top: 50px;
  }
  .label__im {
    padding: 6px 1px 11px 1px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin: 0px -3px 0px 0px;
  }
  .label__im__a {
    margin: 0px 0px 1px -8px;
    border-radius: 4px;
    background-color: #ff414d;
    color: #fff;
    padding: 9px 50px 9px 54px;
    display: flex;
    justify-content: center;
  }
}
.card {
  display: block;
  padding: 20px;
}
.card__box {
  background-color: rgb(255, 255, 255);
  margin: -50px 0px 70px 0px;
  text-align: center;
  width: 100%;
}
.card__box :hover {
  background-color: #ff414d;
}
.card__box :hover h2 {
  color: rgb(255, 255, 255);
}
.card__box :hover img {
  background-color: rgb(255, 255, 255);
}
.card__box :hover .box__number {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  color: #f1f1f1;
}
.card__box :hover .box__number__text p {
  color: rgb(255, 255, 255);
}
.card__box h2 {
  color: #868686;
}
.card__box__border {
  display: flex;
  background-color: #f1f1f1;
  margin-left: 170px;
  margin-right: 242px;
  padding-top: 2px;
  align-items: center;
  gap: 15px;
  border-radius: 6px;
}
.card__box p {
  text-transform: uppercase;
}
.card__padd {
  padding: 25px 0px 40px 0px;
}
.card__reding {
  background-color: #ff414d;
  margin: -30px 0px 70px 0px;
  text-align: center;
  width: 100%;
}
.card__reding h2 {
  color: rgb(255, 255, 255);
}
.card__reding__border {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  padding: 0px 10px 0px 0px;
  margin: 0px -10px 0px 0px;
  gap: 15px;
  border-radius: 6px;
}

.alin__master {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.box {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.box__number {
  background-color: #f1f1f1;
  border-radius: 6px;
}
.box__number p {
  color: #ff4139;
  padding: 0px 8px 0px 8px;
  font-weight: 600;
}

@media (min-width: 760px) {
  .card {
    width: 100%;
    margin-top: -120px;
    padding: 110px;
  }
  .card__reding {
    width: 80%;
    margin-top: -50px;
  }
  .card-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    justify-content: center;
  }
  .card-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    justify-content: center;
  }
  .card-pading {
    width: 20%;
  }
  .card__box {
    width: 80%;
  }
}
.between {
  padding: 10px;
}
.between__text {
  display: grid;
  justify-content: center;
}

.self__upper {
  color: #ff4139;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: 15px;
}
.self__back {
  color: #10151c;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 80px;
}

.all {
  padding-bottom: 20px;
  padding-top: 40px;
}
.all__shad {
  padding-top: 20px;
}
.all__shad :hover {
  box-shadow: 4px 20px 20px 4px #151c26;
}
.all__i {
  background-image: url(../imges/list-2.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: center;
}
.all__im {
  background-image: url(../imges/list-3.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: center;
}
.all__img {
  background-image: url(../imges/list-1.jpg.webp);
  min-height: 300px;
  background-size: cover;
  background-position: center;
}
.all__imges {
  background-image: url(../imges/list-11.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: center;
}
.all__backing {
  background-color: rgb(255, 255, 255);
  display: grid;
  margin-top: -25px;
}
.all__backing__flexing {
  display: flex;
  justify-content: center;
}
.all__backing__cover {
  background-color: #ff414d;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -30px;
}
.all__backing__cover img {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 70%;
  box-shadow: 2px 20px 50px 20px rgb(255, 255, 255);
}

hr {
  margin: 20px;
}

.tety {
  margin-top: 20px;
}
.tety__color {
  color: #ff4139;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  display: grid;
  justify-content: center;
}
.tety__color__tern {
  font-size: 12px;
  display: grid;
  justify-content: center;
}
.tety h3 {
  color: #151c26;
  display: grid;
  justify-content: center;
}

.foot {
  padding: 0px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}
.foot p {
  font-size: 12px;
}

.bor {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #868686;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bor img {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bor :hover {
  background-color: #ff414d;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.lo {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.distance {
  margin: -50px 0px 70px 0px;
}

@media (min-width: 760px) {
  .srv {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .srs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  .all {
    padding: 0;
    gap: 20px;
  }
  .all__img {
    width: 275px;
  }
  .all__i {
    width: 275px;
  }
  .all__im {
    width: 275px;
  }
  .all__imges {
    width: 275px;
  }
  .all__img1 {
    width: 275px;
  }
  .all__i2 {
    width: 275px;
  }
  .all__im3 {
    width: 275px;
  }
  .all__imges4 {
    width: 275px;
  }
  .all__img5 {
    width: 275px;
  }
  .all__i6 {
    width: 275px;
  }
  .all__im7 {
    width: 275px;
  }
  .all__imges8 {
    width: 275px;
  }
  .self__upper {
    color: #ff4139;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
  }
  .self__back {
    color: #10151c;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 80px;
  }
}
.all__img1 {
  background-image: url(../imges/list-5.jpg.webp);
  min-height: 300px;
  background-size: cover;
  background-position: center;
}
.all__i2 {
  background-image: url(../imges/list-6.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: center;
}
.all__im3 {
  background-image: url(../imges/list-7.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: center;
}
.all__imges4 {
  background-image: url(../imges/list-8.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: center;
}
.all__img5 {
  background-image: url(../imges/list-9.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: center;
}
.all__i6 {
  background-image: url(../imges/list-10.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: center;
}
.all__im7 {
  background-image: url(../imges/image_1.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: center;
}
.all__imges8 {
  background-image: url(../imges/list-12.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: center;
}

.lot {
  margin-top: 150px;
  padding: 10px;
  padding-bottom: 100px;
}
.lot__on {
  background-color: #ff414d;
  background-image: linear-gradient(129deg, #ff414d 25%, #f03943 25%, #f03943 50%, #f13944 50%, #ff414d 75%, #f03943 75%, #ff4139 100%);
  height: 300px;
}

.oning {
  padding-left: 20px;
  padding-bottom: 18rem;
}
.oning__hing {
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.oning__h {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 20px;
}
.oning__p {
  background-color: #151c26;
  padding: 14px;
  border-radius: 8px;
  width: 50%;
}
.oning__p p {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-img {
  background-image: url(../imges/intro.jpg.webp);
  height: 300px;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 760px) {
  .lot {
    padding-left: 100px;
    display: flex;
  }
  .oning__p {
    background-color: #151c26;
    padding: 16px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .oning__p p {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .back-img {
    width: 400px;
    display: flex;
  }
  .gv {
    display: flex;
    flex-direction: column;
  }
  .gr {
    display: flex;
    align-items: end;
    flex-direction: column;
  }
  .gvgr {
    display: flex;
  }
}
.last {
  margin-top: 180px;
  background-image: url(../imges/curls.png);
  height: 100%;
  min-height: 400px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 4rem;
}
.last__ping {
  padding-top: 100px;
  display: grid;
  justify-content: center;
}
.last__ping p {
  color: #ff4139;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.last__ping h5 {
  font-size: 26px;
  color: rgb(255, 255, 255);
}

.video {
  padding: 20px;
  margin: -150px 0 70px 0;
}

@media (min-width: 760px) {
  .last__ping h5 {
    font-size: 40px;
  }
  .last {
    min-height: 800px;
  }
  .video {
    padding: 50px;
    margin: -500px 0 70px 0;
  }
}
.footer {
  background-color: #10151c;
  height: 100%;
  min-height: 500px;
}
.footer__all {
  padding: 120px 7px 30px 12px;
}
.footer__ending {
  padding: 0px 7px 50px 8px;
  display: flex;
  flex-direction: column;
}
.footer__ending p {
  font-size: 25px;
  font-weight: 800;
  padding-top: 50px;
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}
.footer__ending h6 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.footer__ex {
  padding-bottom: 30px;
  color: rgb(255, 255, 255);
  font-size: 22px;
}

.circle {
  padding-top: 15px;
  display: flex;
  gap: 15px;
  padding-bottom: 40px;
}
.circle__a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff4139;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle__a img {
  width: 20px;
}

.listing {
  padding-bottom: 20px;
  padding-top: 20px;
}
.listing ul {
  list-style-type: none;
}
.listing ul li {
  padding-top: 10px;
}
.listing ul :hover {
  color: #ff4139;
  transition: 2s;
}

.ye {
  display: flex;
  gap: 5px;
}
.ye__yes {
  display: flex;
  width: 25px;
}

.phoo {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 5px;
}
.phoo img {
  width: 20px;
}

.insta {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 3px;
}
.insta img {
  width: 30px;
}

.gma {
  padding-top: 10px;
  padding-bottom: 80px;
  display: flex;
  gap: 7px;
}
.gma img {
  width: 25px;
}

.endi {
  background-color: #151c26;
  padding: 20px;
}
.endi p {
  font-size: 14px;
}
.endi span {
  color: #ff4139;
  display: grid;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.prr {
  display: none;
}

@media (min-width: 760px) {
  .footer__ending {
    padding-left: 40px;
  }
  .footer__all {
    display: flex;
    gap: 60px;
  }
  .footer .left {
    padding-left: 40px;
  }
  .footer .left__if {
    display: none;
  }
  .footer .prr {
    display: block;
  }
  .circle {
    padding-left: 40px;
  }
  .listing {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .listing ul {
    list-style-type: none;
  }
  .listing ul li {
    padding-top: 10px;
    font-size: 12px;
  }
  .listing ul :hover {
    color: #ff4139;
    transition: 2s;
  }
  .ye {
    display: flex;
    align-items: center;
  }
  .ye__yes {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .endi {
    background-color: #151c26;
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .endi p {
    font-size: 14px;
  }
  .endi span {
    color: #ff4139;
    display: flex;
    justify-content: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
  }
}/*# sourceMappingURL=main.css.map */