body {
    padding: 20px;
    margin: 0;
}
.icon {
    width: 100%;
    background-image: url(./imges/abstract\ \(1\).jpg);
}
.iconn{
   
    display: none;
    width: 100%;
    background-image: url(./imges/abstract\ \(1\).jpg);
}
.header{
    display: grid;
    justify-content: center;
}
.para{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.icons{
    display: flex;
    justify-content: center;
}

.type{
    padding: 8px 150px 8px 4px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.type2{
    padding: 8px 150px 8px 4px;
    border-radius: 6px;
}
.text{
  padding-top: 20px;
margin: 10px 50px;

}
.box{
    display: flex;
    gap: 5px;
    padding-left: 50px;
   
}
.ovr{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.pp{
    padding-right: 80px;
}
.footer{
    padding: 20px;
}
.col{
    color: white;
}
.border{
    background-color: black;
display: flex;
justify-content: center;
   border-radius: 10px;
   padding: 15px 170px 15px 170px;
   a {
    text-decoration: none;
  

    color: white;
   }
}
.end{
    display: flex;
    justify-content: center;
}
.flexing{
    display: flex;
    justify-content: center;
}
.for{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 20px;
}
.for__evr{
    border-radius: 10px;
    padding: 8px 30px 8px 30px;
background-color: rgb(233, 232, 229);
}

@media (min-width:760px){
    .icon {
     background-image: none;
     background-image: url(./imges/abstract\ \(2\).jpg);
    }
.border{
    margin-left: 400px;
    margin-right: 400px;
    display: flex;
    justify-content: center;
}

}