.card {
    display: block;
    padding: 20px;



    &__box {
        background-color: $white;
        margin: -50px 0px 70px 0px;
        text-align: center;
        width: 100%;

        :hover {

            background-color: $back;

            & h2 {
                color: $white;
            }

            & img {
                background-color: $white;
            }

            .box__number {

                background-color: $white;
                border-radius: 6px;
                color: $shiri;
            }

            .box__number__text {
                & p {
                    color: $white;

                }
            }
        }

        & h2 {
            color: $color-text;
        }

        &__border {
            display: flex;
            background-color: $shiri ;
            margin-left: 170px;
            margin-right: 242px;
            padding-top: 2px;
            align-items: center;
            gap: 15px;
            border-radius: 6px;
        }

        & p {
            text-transform: uppercase;
        }
    }

    &__padd {
        padding: 25px 0px 40px 0px;
    }

    &__reding {
        background-color: $back;
        margin: -30px 0px 70px 0px;
        text-align: center;
        width: 100%;

        & h2 {
            color: $white;
        }

        &__border {
            display: flex;
            background-color: $white ;
            align-items: center;
            padding: 0px 10px 0px 0px;
            margin: 0px -10px 0px 0px;

            gap: 15px;
            border-radius: 6px;

        }

    }
}

.alin {
    &__master {
        color: $white;
        text-transform: uppercase;
    }
}

.box {
    display: flex;
    justify-content: center;
    gap: 10px;

    &__number {
        background-color: $shiri;
        border-radius: 6px;

        & p {
            color: $color;
            padding: 0px 8px 0px 8px;
            font-weight: 600;
        }


    }

}


@media (min-width: 760px) {
    .card {

        width: 100%;
        margin-top: -120px;
        padding: 110px;


        &__reding {
            width: 80%;
            margin-top: -50px;
        }

    }

    .card-top {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 30px;
        justify-content: center;


    }

    .card-bottom {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 30px;
        justify-content: center;

    }

    .card-pading {
        width: 20%;
    }

    .card__box {
        width: 80%;
        height: 80%;
    }
}